.radioStep {

    .radioItem {
      padding-right: 15px;
  
      &:hover {
        background-color: #EBE9E9;
        border-radius: 10px;
      }
    }
  
    .radioActive {
      background-color: #314897;
      border-radius: 10px;
      color: white;
  
      &:hover {
        background-color: #314897;
      }
    }
  }