html {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100% !important;

}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100% !important;
    background-color: #F2F8FF;
}

#root {
    min-height: 100% !important;
}
