@mixin font-size($i) {
  .fn--#{$i} {
    font-size: #{$i}px !important;
  }
}

@mixin width($i) {
  .w--#{$i} {
    width: #{$i}px !important;
  }
}

@mixin min-width($i) {
  .minw--#{$i} {
    min-width: #{$i}px !important;
  }
}

@mixin max-width($i) {
  .maxw--#{$i} {
    max-width: #{$i}px !important;
  }
}

@mixin height($i) {
  .h--#{$i} {
    height: #{$i}px !important;
  }
}

@mixin min-height($i) {
  .minh--#{$i} {
    min-height: #{$i}px !important;
  }
}

@mixin max-height($i) {
  .maxh--#{$i} {
    max-height: #{$i}px !important;
  }
}

@mixin padding($i) {
  .ps--#{$i},
  .px--#{$i},
  .p--#{$i} {
    padding-left: #{$i}px !important;
  }

  .pe--#{$i},
  .px--#{$i},
  .p--#{$i} {
    padding-right: #{$i}px !important;
  }

  .pt--#{$i},
  .py--#{$i},
  .p--#{$i} {
    padding-top: #{$i}px !important;
  }

  .pb--#{$i},
  .py--#{$i},
  .p--#{$i} {
    padding-bottom: #{$i}px !important;
  }
}

@mixin margin($i) {
  .ms--#{$i},
  .mx--#{$i},
  .m--#{$i} {
    margin-left: #{$i}px !important;
  }

  .me--#{$i},
  .mx--#{$i},
  .m--#{$i} {
    margin-right: #{$i}px !important;
  }

  .mt--#{$i},
  .my--#{$i},
  .m--#{$i} {
    margin-top: #{$i}px !important;
  }

  .mb--#{$i},
  .my--#{$i},
  .m--#{$i} {
    margin-bottom: #{$i}px !important;
  }
}

@mixin margin-negative($i) {
  .ms--n#{$i},
  .mx--n#{$i},
  .m--n#{$i} {
    margin-left: -#{$i}px !important;
  }

  .me--n#{$i},
  .mx--n#{$i},
  .m--n#{$i} {
    margin-right: -#{$i}px !important;
  }

  .mt--n#{$i},
  .my--n#{$i},
  .m--n#{$i} {
    margin-top: -#{$i}px !important;
  }

  .mb--n#{$i},
  .my--n#{$i},
  .m--n#{$i} {
    margin-bottom: -#{$i}px !important;
  }
}

@mixin position($i) {
  .top--#{$i} {
    top: #{$i}px;
  }

  .right--#{$i} {
    right: #{$i}px;
  }

  .bottom--#{$i} {
    bottom: #{$i}px;
  }

  .left--#{$i} {
    left: #{$i}px;
  }
}

@mixin position-negative($i) {
  .top--n#{$i} {
    top: -#{$i}px;
  }

  .right--n#{$i} {
    right: -#{$i}px;
  }

  .bottom--n#{$i} {
    bottom: -#{$i}px;
  }

  .left--n#{$i} {
    left: -#{$i}px;
  }
}

@mixin z-index($i) {
  .zx--#{$i} {
    z-index: #{$i};
  }
}

@mixin z-index-negative($i) {
  .zx--n#{$i} {
    z-index: -#{$i};
  }
}

@mixin border($i) {
  .border--#{$i} {
    border-width: #{$i}px !important;
  }
}

@mixin border-radius($i) {
  .border-radius--#{$i} {
    border-radius: #{$i}px !important;
  }
}


@for $i from 0 through 25 {
  @include width($i);
  @include min-width($i);
  @include max-width($i);

  @include height($i);
  @include min-height($i);
  @include max-height($i);

  @include padding($i);
  @include margin($i);
  @include margin-negative($i);

  @include position($i);
  @include position-negative($i);

  @include z-index($i);
  @include z-index-negative($i);

  @include border($i);
  @include border-radius($i);
}

@for $i from 30 through 100 {
  @if $i % 5 == 0 {
    @include width($i);
    @include min-width($i);
    @include max-width($i);

    @include height($i);
    @include min-height($i);
    @include max-height($i);

    @include padding($i);
    @include margin($i);
    @include margin-negative($i);

    @include position($i);
    @include position-negative($i);

    @include z-index($i);
    @include z-index-negative($i);

    @include border($i);
    @include border-radius($i);
  }
}

@for $i from 110 through 200 {
  @if $i % 10 == 0 {
    @include width($i);
    @include min-width($i);
    @include max-width($i);

    @include height($i);
    @include min-height($i);
    @include max-height($i);

    @include padding($i);
    @include margin($i);
    @include margin-negative($i);

    @include position($i);
    @include position-negative($i);

    @include z-index($i);
    @include z-index-negative($i);

    @include border($i);
    @include border-radius($i);
  }
}